# ── CLERK ──────────────────────────────────────────────
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/register
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/member
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/pendaftaran
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx

# ── APP ───────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=https://tenryu-production.up.railway.app

# ── ADMIN SETUP ───────────────────────────────────────
# Password rahasia untuk set admin pertama kali
# Isi bebas, contoh: TenryuAdmin2024
ADMIN_SECRET=isi_password_rahasia_kamu
